@tailwind base;
@tailwind components;
@tailwind utilities;

.overlay {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  @apply bg-black/70;
}

#navlinks ul li {
  @apply py-4 text-[1.3rem] w-2/3 rounded-b-sm mx-auto lg:px-2 lg:py-0 lg:border-none lg:w-full;
}

/* Stile del testo */
.italian-underline {
  position: relative; /* Per posizionare il gradient rispetto al testo */
}

/* Gradient personalizzato per la sottolineatura */
.italian-underline::after {
  content: ""; /* Creiamo un elemento fittizio per il gradient */
  position: absolute;
  left: 0;
  bottom: 0px; /* Regola la distanza della sottolineatura dal testo */
  width: 100%; /* Assicura che la sottolineatura copra l'intera larghezza del testo */
  height: 3px; /* Altezza della sottolineatura */
  background: rgb(16, 167, 11);
  background: linear-gradient(
    90deg,
    rgba(16, 167, 11, 1) 33%,
    rgba(255, 255, 255, 1) 33%,
    rgba(255, 255, 255, 1) 66%,
    rgba(215, 13, 13, 1) 66%
  ); /* Gradient personalizzato */
}

/* Stile del testo */
.underline-link {
  position: relative; /* Per posizionare il gradient rispetto al testo */
}

/* Gradient personalizzato per la sottolineatura */
.underline-link::after {
  content: ""; /* Creiamo un elemento fittizio per il gradient */
  position: absolute;
  left: 0;
  bottom: 0px; /* Regola la distanza della sottolineatura dal testo */
  width: 100%; /* Assicura che la sottolineatura copra l'intera larghezza del testo */
  height: 3px; /* Altezza della sottolineatura */
  transition: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  background: rgb(16, 167, 11);
  background: linear-gradient(
    90deg,
    rgba(16, 167, 11, 1) 33%,
    rgba(255, 255, 255, 1) 33%,
    rgba(255, 255, 255, 1) 66%,
    rgba(215, 13, 13, 1) 66%
  ); /* Gradient personalizzato */
  @apply lg:invisible lg:hover:visible;
}
.select-player {
  @apply p-2;
}
