@tailwind base;
@tailwind components;
@tailwind utilities;

.overlay {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  @apply bg-black/70;
}

#navlinks ul li {
  @apply py-4 text-[1.3rem] w-2/3 rounded-b-sm mx-auto lg:px-2 lg:py-0 lg:border-none lg:w-full;
}

/* Stile del testo */
.italian-underline {
  position: relative; /* Per posizionare il gradient rispetto al testo */
}

/* Gradient personalizzato per la sottolineatura */
.italian-underline::after {
  content: ""; /* Creiamo un elemento fittizio per il gradient */
  position: absolute;
  left: 0;
  bottom: 0px; /* Regola la distanza della sottolineatura dal testo */
  width: 100%; /* Assicura che la sottolineatura copra l'intera larghezza del testo */
  height: 3px; /* Altezza della sottolineatura */
  background: rgb(16, 167, 11);
  background: linear-gradient(
    90deg,
    rgba(16, 167, 11, 1) 33%,
    rgba(255, 255, 255, 1) 33%,
    rgba(255, 255, 255, 1) 66%,
    rgba(215, 13, 13, 1) 66%
  ); /* Gradient personalizzato */
}

/* Stile del testo */
.underline-link {
  position: relative; /* Per posizionare il gradient rispetto al testo */
}

/* Gradient personalizzato per la sottolineatura */
.underline-link::after {
  content: ""; /* Creiamo un elemento fittizio per il gradient */
  position: absolute;
  left: 0;
  bottom: 0px; /* Regola la distanza della sottolineatura dal testo */
  width: 100%; /* Assicura che la sottolineatura copra l'intera larghezza del testo */
  height: 3px; /* Altezza della sottolineatura */
  transition: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  background: rgb(16, 167, 11);
  background: linear-gradient(
    90deg,
    rgba(16, 167, 11, 1) 33%,
    rgba(255, 255, 255, 1) 33%,
    rgba(255, 255, 255, 1) 66%,
    rgba(215, 13, 13, 1) 66%
  ); /* Gradient personalizzato */
  @apply lg:invisible lg:hover:visible;
}
.select-player {
  @apply p-2;
}
.pickImg {
  background-size: 241%;
  background-position: 52% 28%;
  background-repeat: no-repeat;
}
.pickImgEmpty {
  background-size: 100%;
  background-position: 50% center;
  background-repeat: no-repeat;
  background-size: cover;
}
.banImg {
  background-size: 360%;
  background-position: 51% 27%;
  background-repeat: no-repeat;
}

.banImgEmpty {
  background-size: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  filter: grayscale(0) !important;
}

.backgroundTesto {
  @apply w-full h-full;
}
.backgroundTesto p {
  line-height: 55px;
  letter-spacing: -2px;
  text-shadow: 1px 1px 0 #000, -1px 1px 0 #000, -1px -1px 0 #000,
    1px -1px 0 #000;
  @apply text-[4rem] text-white;
}

.immagineBackground {
  @apply absolute w-full h-full top-0 left-0 right-0 bottom-0;
  background-image: url("https://placehold.co/1920x1080");
  clip-path: polygon(63% 0, 100% 0, 100% 100%, 33% 100%);
  z-index: 4;
}

.destra {
  transform: translateX(-5%);
  animation: slideinDestra infinite 100s linear;
}

.sinistra {
  transform: translateX(-5%);
  animation: slideinSinistra infinite 100s linear;
}
.TEXT-HERO-BLACK {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 6rem;
  font-weight: bold;
  text-shadow: 1px 1px 0 #000, -1px 1px 0 #000, -1px -1px 0 #000,
    1px -1px 0 #000;
  color: black; /* Colore fisso del testo */
  z-index: 2;
}
.TEXT-HERO-WHITE {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 6rem;
  font-weight: bold;

  color: white; /* Colore fisso del testo */
}

@keyframes slideinDestra {
  0% {
    transform: translateX(-5%);
  }

  50% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-5%);
  }
}

@keyframes slideinSinistra {
  0% {
    transform: translateX(-5%);
  }

  50% {
    transform: translateX(-10%);
  }
  100% {
    transform: translateX(-5%);
  }
}
